.box {

    height: 15em;
    width:100%;
}

#green{
    background-color: green;
}

#red{
    background-color: red;
}

#blue{
    background-color: blue;
    margin-bottom: 0.5em;
}

#yellow{
    background-color: yellow;
    margin-bottom: 0.5em;
}


#green:active, #green.active{
    background-color: rgb(12, 170, 12);
}

#red:active, #red.active{
    background-color: rgb(255, 113, 113);
}

#blue:active, #blue.active{
    background-color: rgb(80, 80, 255);
}

#yellow:active, #yellow.active{
    background-color: rgb(243, 243, 154);
}

#start{
    border-radius: 7px;
    background-color: #1cd733;

    font-size:2em;
}